<div class="projects-page">
  <app-projects-header [githubProfileUrl]="githubProfileUrl" (logout)="logout()"></app-projects-header>

  <section class="intro">
    <div class="intro__container">
      <app-projects-intro></app-projects-intro>
      <app-projects-carousel [featuredRepositories]="featuredRepositories"></app-projects-carousel>
    </div>
  </section>

  <app-projects-grid [repositories]="repositories" [isLoading]="isLoadingRepos"></app-projects-grid>

  <section class="twitter-feed">
    <div class="twitter-feed__container">
      <span class="twitter-feed__label">Twitter Feed</span>
    </div>
  </section>

  <app-projects-footer></app-projects-footer>

  <app-projects-weather [weatherData]="weatherData" [isLoading]="isLoadingWeather"></app-projects-weather>
</div>
